@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=League+Spartan%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7cgF-k5lAnhc_font-family: "Inter", sans-serif;
  --mixin-7cgF-k5lAnhc_font-size: 16px;
  --mixin-7cgF-k5lAnhc_font-weight: 400;
  --mixin-7cgF-k5lAnhc_font-style: normal;
  --mixin-7cgF-k5lAnhc_color: #535353;
  --mixin-7cgF-k5lAnhc_text-align: left;
  --mixin-7cgF-k5lAnhc_text-transform: none;
  --mixin-7cgF-k5lAnhc_line-height: 1.5;
  --mixin-7cgF-k5lAnhc_letter-spacing: normal;
  --mixin-7cgF-k5lAnhc_white-space: pre-wrap;
  --mixin-7cgF-k5lAnhc_user-select: text;
  --mixin-7cgF-k5lAnhc_text-decoration-line: none;
  --mixin-7cgF-k5lAnhc_text-overflow: clip;
  --mixin-RSwcjjwYVlMP_color: #000000;
  --mixin-RSwcjjwYVlMP_font-weight: 700;
  --mixin-RSwcjjwYVlMP_font-size: 64px;
  --mixin-RSwcjjwYVlMP_line-height: 1;
  --mixin-RSwcjjwYVlMP_letter-spacing: -1px;
  --mixin-RSwcjjwYVlMP_white-space: pre-wrap;
  --mixin-rv9G8e5W3F1e_color: #000000;
  --mixin-rv9G8e5W3F1e_font-size: 48px;
  --mixin-rv9G8e5W3F1e_font-weight: 700;
  --mixin-rv9G8e5W3F1e_letter-spacing: -0.5px;
  --mixin-rv9G8e5W3F1e_line-height: 1.1;
  --mixin-rv9G8e5W3F1e_white-space: pre-wrap;
  --mixin-h3LnKS2ELn4v_color: #0070f3;
  --mixin-h3LnKS2ELn4v_white-space: pre-wrap;
  --mixin-D8HLdlk3QRoo_color: #000000;
  --mixin-D8HLdlk3QRoo_font-size: 32px;
  --mixin-D8HLdlk3QRoo_font-weight: 600;
  --mixin-D8HLdlk3QRoo_line-height: 1.2;
  --mixin-D8HLdlk3QRoo_white-space: pre-wrap;
  --mixin-_mBwF7KwhdHN_color: #000000;
  --mixin-_mBwF7KwhdHN_font-size: 24px;
  --mixin-_mBwF7KwhdHN_font-weight: 600;
  --mixin-_mBwF7KwhdHN_line-height: 1.3;
  --mixin-_mBwF7KwhdHN_white-space: pre-wrap;
  --mixin-G6CL_80pPUu__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-G6CL_80pPUu__border-bottom-color: #dddddd;
  --mixin-G6CL_80pPUu__border-bottom-style: solid;
  --mixin-G6CL_80pPUu__border-bottom-width: 1px;
  --mixin-G6CL_80pPUu__border-left-color: #dddddd;
  --mixin-G6CL_80pPUu__border-left-style: solid;
  --mixin-G6CL_80pPUu__border-left-width: 1px;
  --mixin-G6CL_80pPUu__border-right-color: #dddddd;
  --mixin-G6CL_80pPUu__border-right-style: solid;
  --mixin-G6CL_80pPUu__border-right-width: 1px;
  --mixin-G6CL_80pPUu__border-top-color: #dddddd;
  --mixin-G6CL_80pPUu__border-top-style: solid;
  --mixin-G6CL_80pPUu__border-top-width: 1px;
  --mixin-G6CL_80pPUu__border-bottom-left-radius: 3px;
  --mixin-G6CL_80pPUu__border-bottom-right-radius: 3px;
  --mixin-G6CL_80pPUu__border-top-left-radius: 3px;
  --mixin-G6CL_80pPUu__border-top-right-radius: 3px;
  --mixin-G6CL_80pPUu__font-family: "Inconsolata";
  --mixin-G6CL_80pPUu__padding-bottom: 1px;
  --mixin-G6CL_80pPUu__padding-left: 4px;
  --mixin-G6CL_80pPUu__padding-right: 4px;
  --mixin-G6CL_80pPUu__padding-top: 1px;
  --mixin-G6CL_80pPUu__white-space: pre-wrap;
  --mixin-hElgwSYQn1ZT_border-left-color: #dddddd;
  --mixin-hElgwSYQn1ZT_border-left-style: solid;
  --mixin-hElgwSYQn1ZT_border-left-width: 3px;
  --mixin-hElgwSYQn1ZT_color: #888888;
  --mixin-hElgwSYQn1ZT_padding-left: 10px;
  --mixin-hElgwSYQn1ZT_white-space: pre-wrap;
  --mixin-h55rRQac1qZb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-h55rRQac1qZb_border-bottom-color: #dddddd;
  --mixin-h55rRQac1qZb_border-bottom-style: solid;
  --mixin-h55rRQac1qZb_border-bottom-width: 1px;
  --mixin-h55rRQac1qZb_border-left-color: #dddddd;
  --mixin-h55rRQac1qZb_border-left-style: solid;
  --mixin-h55rRQac1qZb_border-left-width: 1px;
  --mixin-h55rRQac1qZb_border-right-color: #dddddd;
  --mixin-h55rRQac1qZb_border-right-style: solid;
  --mixin-h55rRQac1qZb_border-right-width: 1px;
  --mixin-h55rRQac1qZb_border-top-color: #dddddd;
  --mixin-h55rRQac1qZb_border-top-style: solid;
  --mixin-h55rRQac1qZb_border-top-width: 1px;
  --mixin-h55rRQac1qZb_border-bottom-left-radius: 3px;
  --mixin-h55rRQac1qZb_border-bottom-right-radius: 3px;
  --mixin-h55rRQac1qZb_border-top-left-radius: 3px;
  --mixin-h55rRQac1qZb_border-top-right-radius: 3px;
  --mixin-h55rRQac1qZb_font-family: "Inconsolata";
  --mixin-h55rRQac1qZb_padding-bottom: 3px;
  --mixin-h55rRQac1qZb_padding-left: 6px;
  --mixin-h55rRQac1qZb_padding-right: 6px;
  --mixin-h55rRQac1qZb_padding-top: 3px;
  --mixin-h55rRQac1qZb_white-space: pre-wrap;
  --mixin-0bEfp6p5yhbk_display: flex;
  --mixin-0bEfp6p5yhbk_flex-direction: column;
  --mixin-0bEfp6p5yhbk_align-items: stretch;
  --mixin-0bEfp6p5yhbk_justify-content: flex-start;
  --mixin-0bEfp6p5yhbk_list-style-position: outside;
  --mixin-0bEfp6p5yhbk_padding-left: 40px;
  --mixin-0bEfp6p5yhbk_position: relative;
  --mixin-0bEfp6p5yhbk_list-style-type: disc;
  --mixin-0bEfp6p5yhbk_white-space: pre-wrap;
  --mixin-1jpNZi9zJaYn_display: flex;
  --mixin-1jpNZi9zJaYn_flex-direction: column;
  --mixin-1jpNZi9zJaYn_align-items: stretch;
  --mixin-1jpNZi9zJaYn_justify-content: flex-start;
  --mixin-1jpNZi9zJaYn_list-style-position: outside;
  --mixin-1jpNZi9zJaYn_padding-left: 40px;
  --mixin-1jpNZi9zJaYn_position: relative;
  --mixin-1jpNZi9zJaYn_list-style-type: decimal;
  --mixin-1jpNZi9zJaYn_white-space: pre-wrap;
  --mixin-1pprTF3eddwC_color: #000000;
  --mixin-1pprTF3eddwC_font-size: 20px;
  --mixin-1pprTF3eddwC_font-weight: 600;
  --mixin-1pprTF3eddwC_line-height: 1.5;
  --mixin-1pprTF3eddwC_white-space: pre-wrap;
  --mixin-WQlCjzyCdllQ_color: #000000;
  --mixin-WQlCjzyCdllQ_font-size: 16px;
  --mixin-WQlCjzyCdllQ_font-weight: 600;
  --mixin-WQlCjzyCdllQ_line-height: 1.5;
  --mixin-WQlCjzyCdllQ_white-space: pre-wrap;
  --mixin-ChX_2m7ZzWK-_color: #3291ff;
  --mixin-ChX_2m7ZzWK-_white-space: pre-wrap;
  --mixin-4oIcrLXpzq27_white-space: pre-wrap;
  --mixin-CPWWJiwagfXq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7cgF-k5lAnhc_font-family);
  font-size: var(--mixin-7cgF-k5lAnhc_font-size);
  font-weight: var(--mixin-7cgF-k5lAnhc_font-weight);
  font-style: var(--mixin-7cgF-k5lAnhc_font-style);
  color: var(--mixin-7cgF-k5lAnhc_color);
  text-align: var(--mixin-7cgF-k5lAnhc_text-align);
  text-transform: var(--mixin-7cgF-k5lAnhc_text-transform);
  line-height: var(--mixin-7cgF-k5lAnhc_line-height);
  letter-spacing: var(--mixin-7cgF-k5lAnhc_letter-spacing);
  white-space: var(--mixin-7cgF-k5lAnhc_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-RSwcjjwYVlMP_color);
  font-weight: var(--mixin-RSwcjjwYVlMP_font-weight);
  font-size: var(--mixin-RSwcjjwYVlMP_font-size);
  line-height: var(--mixin-RSwcjjwYVlMP_line-height);
  letter-spacing: var(--mixin-RSwcjjwYVlMP_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-rv9G8e5W3F1e_color);
  font-size: var(--mixin-rv9G8e5W3F1e_font-size);
  font-weight: var(--mixin-rv9G8e5W3F1e_font-weight);
  letter-spacing: var(--mixin-rv9G8e5W3F1e_letter-spacing);
  line-height: var(--mixin-rv9G8e5W3F1e_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-h3LnKS2ELn4v_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-D8HLdlk3QRoo_color);
  font-size: var(--mixin-D8HLdlk3QRoo_font-size);
  font-weight: var(--mixin-D8HLdlk3QRoo_font-weight);
  line-height: var(--mixin-D8HLdlk3QRoo_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-_mBwF7KwhdHN_color);
  font-size: var(--mixin-_mBwF7KwhdHN_font-size);
  font-weight: var(--mixin-_mBwF7KwhdHN_font-weight);
  line-height: var(--mixin-_mBwF7KwhdHN_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-G6CL_80pPUu__font-family);
  border-radius: var(--mixin-G6CL_80pPUu__border-top-left-radius)
    var(--mixin-G6CL_80pPUu__border-top-right-radius)
    var(--mixin-G6CL_80pPUu__border-bottom-right-radius)
    var(--mixin-G6CL_80pPUu__border-bottom-left-radius);
  padding: var(--mixin-G6CL_80pPUu__padding-top)
    var(--mixin-G6CL_80pPUu__padding-right)
    var(--mixin-G6CL_80pPUu__padding-bottom)
    var(--mixin-G6CL_80pPUu__padding-left);
  border-top: var(--mixin-G6CL_80pPUu__border-top-width)
    var(--mixin-G6CL_80pPUu__border-top-style)
    var(--mixin-G6CL_80pPUu__border-top-color);
  border-right: var(--mixin-G6CL_80pPUu__border-right-width)
    var(--mixin-G6CL_80pPUu__border-right-style)
    var(--mixin-G6CL_80pPUu__border-right-color);
  border-bottom: var(--mixin-G6CL_80pPUu__border-bottom-width)
    var(--mixin-G6CL_80pPUu__border-bottom-style)
    var(--mixin-G6CL_80pPUu__border-bottom-color);
  border-left: var(--mixin-G6CL_80pPUu__border-left-width)
    var(--mixin-G6CL_80pPUu__border-left-style)
    var(--mixin-G6CL_80pPUu__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-hElgwSYQn1ZT_color);
  padding-left: var(--mixin-hElgwSYQn1ZT_padding-left);
  border-left: var(--mixin-hElgwSYQn1ZT_border-left-width)
    var(--mixin-hElgwSYQn1ZT_border-left-style)
    var(--mixin-hElgwSYQn1ZT_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-h55rRQac1qZb_font-family);
  border-radius: var(--mixin-h55rRQac1qZb_border-top-left-radius)
    var(--mixin-h55rRQac1qZb_border-top-right-radius)
    var(--mixin-h55rRQac1qZb_border-bottom-right-radius)
    var(--mixin-h55rRQac1qZb_border-bottom-left-radius);
  padding: var(--mixin-h55rRQac1qZb_padding-top)
    var(--mixin-h55rRQac1qZb_padding-right)
    var(--mixin-h55rRQac1qZb_padding-bottom)
    var(--mixin-h55rRQac1qZb_padding-left);
  border-top: var(--mixin-h55rRQac1qZb_border-top-width)
    var(--mixin-h55rRQac1qZb_border-top-style)
    var(--mixin-h55rRQac1qZb_border-top-color);
  border-right: var(--mixin-h55rRQac1qZb_border-right-width)
    var(--mixin-h55rRQac1qZb_border-right-style)
    var(--mixin-h55rRQac1qZb_border-right-color);
  border-bottom: var(--mixin-h55rRQac1qZb_border-bottom-width)
    var(--mixin-h55rRQac1qZb_border-bottom-style)
    var(--mixin-h55rRQac1qZb_border-bottom-color);
  border-left: var(--mixin-h55rRQac1qZb_border-left-width)
    var(--mixin-h55rRQac1qZb_border-left-style)
    var(--mixin-h55rRQac1qZb_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-0bEfp6p5yhbk_display);
  flex-direction: var(--mixin-0bEfp6p5yhbk_flex-direction);
  align-items: var(--mixin-0bEfp6p5yhbk_align-items);
  justify-content: var(--mixin-0bEfp6p5yhbk_justify-content);
  list-style-position: var(--mixin-0bEfp6p5yhbk_list-style-position);
  padding-left: var(--mixin-0bEfp6p5yhbk_padding-left);
  position: var(--mixin-0bEfp6p5yhbk_position);
  list-style-type: var(--mixin-0bEfp6p5yhbk_list-style-type);
  flex-column-gap: var(--mixin-0bEfp6p5yhbk_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1jpNZi9zJaYn_display);
  flex-direction: var(--mixin-1jpNZi9zJaYn_flex-direction);
  align-items: var(--mixin-1jpNZi9zJaYn_align-items);
  justify-content: var(--mixin-1jpNZi9zJaYn_justify-content);
  list-style-position: var(--mixin-1jpNZi9zJaYn_list-style-position);
  padding-left: var(--mixin-1jpNZi9zJaYn_padding-left);
  position: var(--mixin-1jpNZi9zJaYn_position);
  list-style-type: var(--mixin-1jpNZi9zJaYn_list-style-type);
  flex-column-gap: var(--mixin-1jpNZi9zJaYn_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-1pprTF3eddwC_color);
  font-size: var(--mixin-1pprTF3eddwC_font-size);
  font-weight: var(--mixin-1pprTF3eddwC_font-weight);
  line-height: var(--mixin-1pprTF3eddwC_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-WQlCjzyCdllQ_color);
  font-size: var(--mixin-WQlCjzyCdllQ_font-size);
  font-weight: var(--mixin-WQlCjzyCdllQ_font-weight);
  line-height: var(--mixin-WQlCjzyCdllQ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ChX_2m7ZzWK-_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
